[defaults]
inventory = inputs/inventory.yml
host_key_checking = False
display_skipped_hosts = False
callback_result_format = yaml
stdout_callback = yaml
filter_plugins = ./filter_plugins

[callback_yaml]
# Suppress large task results
